.yx-icon {
    display: -webkit-flex;
    display: flex;
    width: .24rem;
    height: .24rem;
    overflow: hidden;
    font-size: .24rem;
    align-items: center;
    justify-content: center;
}

.yx-icon>svg {
    width: 1em; 
    height: 1em;
    vertical-align: .2em;
}


.yx-selected {
    color: @primary-color-1;
}

.yx-selected svg {
    fill: @primary-color-1;
}

.yx-subject-1 {
    font-size: .24rem;
}

.yx-subject-2 {
    font-size: .2rem;
}

.yx-subject-3 {
    font-size: .18rem;
}

.yx-subject-4 {
    font-size: .16rem;
}

.yx-subject-5 {
    font-size: .16rem;
}


.yx-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.yx-floatlayer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
