.yx-icon {
    display: -webkit-flex;
    display: flex;
    width: .24rem;
    height: .24rem;
    overflow: hidden;
    font-size: .24rem;
    align-items: center;
    justify-content: center;
}

.yx-icon>svg {
    width: 1em; 
    height: 1em;
    vertical-align: .2em;
}



.default-border-1 {
    border-color: @default-color-1;
}

.default-border-2 {
    border-color: @default-color-2;
}

.default-border-3 {
    border-color: @default-color-3;
}

.default-border-4 {
    border-color: @default-color-4;
}

.default-border-5 {
    border-color: @default-color-5;
}


.default-back-1 {
    background-color: @default-color-1;
}

.default-back-2 {
    background-color: @default-color-2;
}

.default-back-3 {
    background-color: @default-color-3;
}

.default-back-4 {
    background-color: @default-color-4;
}

.default-back-5 {
    background-color: @default-color-5;
}


.default-font-1 {
    color: @default-color-1;
}

.default-font-2 {
    color: @default-color-2;
}

.default-font-3 {
    color: @default-color-3;
}

.default-font-4 {
    color: @default-color-4;
}

.default-font-5 {
    color: @default-color-5;
}



.primary-border-1 {
    border-color: @primary-color-1;
}

.primary-border-2 {
    border-color: @primary-color-2;
}

.primary-border-3 {
    border-color: @primary-color-3;
}

.primary-border-4 {
    border-color: @primary-color-4;
}

.primary-border-5 {
    border-color: @primary-color-5;
}


.primary-back-1 {
    background-color: @primary-color-1;
}

.primary-back-2 {
    background-color: @primary-color-2;
}

.primary-back-3 {
    background-color: @primary-color-3;
}

.primary-back-4 {
    background-color: @primary-color-4;
}

.primary-back-5 {
    background-color: @primary-color-5;
}


.primary-font-1 {
    color: @primary-color-1;
}

.primary-font-2 {
    color: @primary-color-2;
}

.primary-font-3 {
    color: @primary-color-3;
}

.primary-font-4 {
    color: @primary-color-4;
}

.primary-font-5 {
    color: @primary-color-5;
}



.second-border-1 {
    border-color: @second-color-1;
}

.second-border-2 {
    border-color: @second-color-2;
}

.second-border-3 {
    border-color: @second-color-3;
}

.second-border-4 {
    border-color: @second-color-4;
}

.second-border-5 {
    border-color: @second-color-5;
}


.second-back-1 {
    background-color: @second-color-1;
}

.second-back-2 {
    background-color: @second-color-2;
}

.second-back-3 {
    background-color: @second-color-3;
}

.second-back-4 {
    background-color: @second-color-4;
}

.second-back-5 {
    background-color: @second-color-5;
}


.second-font-1 {
    color: @second-color-1;
}

.second-font-2 {
    color: @second-color-2;
}

.second-font-3 {
    color: @second-color-3;
}

.second-font-4 {
    color: @second-color-4;
}

.second-font-5 {
    color: @second-color-5;
}



.success-border-1 {
    border-color: @success-color-1;
}

.success-border-2 {
    border-color: @success-color-2;
}

.success-border-3 {
    border-color: @success-color-3;
}

.success-border-4 {
    border-color: @success-color-4;
}

.success-border-5 {
    border-color: @success-color-5;
}


.success-back-1 {
    background-color: @success-color-1;
}

.success-back-2 {
    background-color: @success-color-2;
}

.success-back-3 {
    background-color: @success-color-3;
}

.success-back-4 {
    background-color: @success-color-4;
}

.success-back-5 {
    background-color: @success-color-5;
}


.success-font-1 {
    color: @success-color-1;
}

.success-font-2 {
    color: @success-color-2;
}

.success-font-3 {
    color: @success-color-3;
}

.success-font-4 {
    color: @success-color-4;
}

.success-font-5 {
    color: @success-color-5;
}



.warning-border-1 {
    border-color: @warning-color-1;
}

.warning-border-2 {
    border-color: @warning-color-2;
}

.warning-border-3 {
    border-color: @warning-color-3;
}

.warning-border-4 {
    border-color: @warning-color-4;
}

.warning-border-5 {
    border-color: @warning-color-5;
}


.warning-back-1 {
    background-color: @warning-color-1;
}

.warning-back-2 {
    background-color: @warning-color-2;
}

.warning-back-3 {
    background-color: @warning-color-3;
}

.warning-back-4 {
    background-color: @warning-color-4;
}

.warning-back-5 {
    background-color: @warning-color-5;
}


.warning-font-1 {
    color: @warning-color-1;
}

.warning-font-2 {
    color: @warning-color-2;
}

.warning-font-3 {
    color: @warning-color-3;
}

.warning-font-4 {
    color: @warning-color-4;
}

.warning-font-5 {
    color: @warning-color-5;
}



.danger-border-1 {
    border-color: @danger-color-1;
}

.danger-border-2 {
    border-color: @danger-color-2;
}

.danger-border-3 {
    border-color: @danger-color-3;
}

.danger-border-4 {
    border-color: @danger-color-4;
}

.danger-border-5 {
    border-color: @danger-color-5;
}


.danger-back-1 {
    background-color: @danger-color-1;
}

.danger-back-2 {
    background-color: @danger-color-2;
}

.danger-back-3 {
    background-color: @danger-color-3;
}

.danger-back-4 {
    background-color: @danger-color-4;
}

.danger-back-5 {
    background-color: @danger-color-5;
}


.danger-font-1 {
    color: @danger-color-1;
}

.danger-font-2 {
    color: @danger-color-2;
}

.danger-font-3 {
    color: @danger-color-3;
}

.danger-font-4 {
    color: @danger-color-4;
}

.danger-font-5 {
    color: @danger-color-5;
}



.disabled-border-1 {
    border-color: @disabled-color-1;
}

.disabled-border-2 {
    border-color: @disabled-color-2;
}

.disabled-border-3 {
    border-color: @disabled-color-3;
}

.disabled-border-4 {
    border-color: @disabled-color-4;
}

.disabled-border-5 {
    border-color: @disabled-color-5;
}


.disabled-back-1 {
    background-color: @disabled-color-1;
}

.disabled-back-2 {
    background-color: @disabled-color-2;
}

.disabled-back-3 {
    background-color: @disabled-color-3;
}

.disabled-back-4 {
    background-color: @disabled-color-4;
}

.disabled-back-5 {
    background-color: @disabled-color-5;
}


.disabled-font-1 {
    color: @disabled-color-1;
}

.disabled-font-2 {
    color: @disabled-color-2;
}

.disabled-font-3 {
    color: @disabled-color-3;
}

.disabled-font-4 {
    color: @disabled-color-4;
}

.disabled-font-5 {
    color: @disabled-color-5;
}



.link-color-1 {
    color: @link-color-1;
}

.link-color-2 {
    color: @link-color-2;
}



.shadow-color-1 {
    box-shadow: @shadow-color-1;
}

.shadow-color-2 {
    box-shadow: @shadow-color-2;
}

.shadow-color-3 {
    box-shadow: @shadow-color-3;
}
