.yx-layout-block>* {
    display: block;
}

.yx-layout-row {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.yx-layout-column {
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.yx-layout-menu {
    display: -webkit-flex;
    display: flex;
}

.yx-layout-menu>* {
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}
