.yx-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid @default-color-6;
    padding: 5px 15px;
    outline: none;
    white-space: nowrap;
    text-align: center;
    transition: .1s;
    color: @default-color-3;
    background-color: @default-color-10;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.yx-button:focus,
.yx-button:hover {
	color: @primary-color-2;
	border-color: @primary-color-8;
	background-color: @primary-color-10
}

.yx-button:active {
	color: @primary-color-1;
	border-color: @primary-color-1;
}

.yx-button[disabled] {
	color: @default-color-5;
    border-color: @default-color-8;
    background-color: @default-color-10;
    cursor: not-allowed;
}

.yx-button[plain]:focus,
.yx-button[plain]:hover {
	color: @primary-color-2;
	border-color: @primary-color-2;
	background-color: @default-color-10;
}

.yx-button[plain]:active {
    color: @primary-color-1;
    border-color: @primary-color-1;
}

.yx-button[plain][disabled] {
    color: @default-color-5;
    border-color: @default-color-8;
    background-color: @default-color-10;
}


.yx-button-primary {
    color: @default-color-10;
    border-color: @primary-color-2;
	background-color: @primary-color-2;
}

.yx-button-primary:focus,
.yx-button-primary:hover {
    color: @default-color-10;
    border-color: @primary-color-3;
	background-color: @primary-color-3;
}

.yx-button-primary:active {
    color: @default-color-10;
    border-color: @primary-color-1;
    background-color: @primary-color-1;
}

.yx-button-primary[disabled] {
    color: @default-color-10;
    border-color: @primary-color-6;
	background-color: @primary-color-6;
}

.yx-button-primary[plain] {
    color: @primary-color-2;
    border-color: @primary-color-7;
	background-color: @primary-color-10;
}

.yx-button-primary[plain]:focus,
.yx-button-primary[plain]:hover {
    color: @default-color-10;
    border-color: @primary-color-2;
	background-color: @primary-color-2;
}

.yx-button-primary[plain]:active {
    color: @default-color-10;
    border-color: @primary-color-1;
    background-color: @primary-color-1;
}

.yx-button-primary[plain][disabled] {
    color: @primary-color-5;
    border-color: @primary-color-9;
	background-color: @primary-color-10;
}


.yx-button-success {
    color: @default-color-10;
    border-color: @success-color-2;
	background-color: @success-color-2;
}

.yx-button-success:focus,
.yx-button-success:hover {
    color: @default-color-10;
    border-color: @success-color-3;
	background-color: @success-color-3;
}

.yx-button-success:active {
    color: @default-color-10;
    border-color: @success-color-1;
    background-color: @success-color-1;
}

.yx-button-success[disabled] {
    color: @default-color-10;
    border-color: @success-color-5;
	background-color: @success-color-5;
}


.yx-button-success[plain] {
    color: @success-color-2;
    border-color: @success-color-6;
	background-color: @success-color-8;
}

.yx-button-success[plain]:focus,
.yx-button-success[plain]:hover {
    color: @default-color-10;
    border-color: @success-color-2;
    background-color: @success-color-2;
}

.yx-button-success[plain]:active {
    color: @default-color-10;
    border-color: @success-color-1;
    background-color: @success-color-1;
}

.yx-button-success[plain][disabled] {
    color: @success-color-4;
    border-color: @success-color-7;
	background-color: @success-color-8;
}


.yx-button-info {
    color: @default-color-10;
    border-color: @default-color-4;
	background-color: @default-color-4;
}

.yx-button-info:focus,
.yx-button-info:hover {
    color: @default-color-10;
    border-color: @info-color-3;
    background-color: @info-color-3;
}

.yx-button-info:active {
    color: @default-color-10;
    border-color: @info-color-1;
    background-color: @info-color-1;
}

.yx-button-info[disabled] {
    color: @default-color-10;
    border-color: @info-color-5;
	background-color: @info-color-5;
}

.yx-button-info[plain] {
    color: @default-color-4;
    border-color: @info-color-6;
	background-color: @info-color-8;
}

.yx-button-info[plain]:focus,
.yx-button-info[plain]:hover {
    color: @default-color-10;
    border-color: @default-color-4;
    background-color: @default-color-4;
}

.yx-button-info[plain]:active {
    color: @default-color-10;
    border-color: @info-color-1;
    background-color: @info-color-1;
}

.yx-button-info[plain][disabled] {
    color: @info-color-4;
    border-color: @info-color-7;
	background-color: @info-color-8;
}


.yx-button-warn {
    color: @default-color-10;
    border-color: @warning-color-2;
	background-color: @warning-color-2;
}

.yx-button-warn:focus,
.yx-button-warn:hover {
    color: @default-color-10;
    border-color: @warning-color-3;
	background-color: @warning-color-3;
}

.yx-button-warn:active {
    color: @default-color-10;
    border-color: @warning-color-1;
    background-color: @warning-color-1;
}

.yx-button-warn[disabled] {
    color: @default-color-10;
    border-color: @warning-color-5;
	background-color: @warning-color-5;
}

.yx-button-warn[plain] {
    color: @warning-color-2;
    border-color: @warning-color-6;
	background-color: @warning-color-8;
}

.yx-button-warn[plain]:focus,
.yx-button-warn[plain]:hover {
    color: @default-color-10;
    border-color: @warning-color-2;
    background-color: @warning-color-2;
}

.yx-button-warn[plain]:active {
    color: @default-color-10;
    border-color: @warning-color-1;
    background-color: @warning-color-1;
}

.yx-button-warn[plain][disabled] {
    color: @warning-color-4;
    border-color: @warning-color-7;
	background-color: @warning-color-8;
}


.yx-button-danger {
    color: @default-color-10;
    border-color: @danger-color-2;
	background-color: @danger-color-2;
}

.yx-button-danger:focus,
.yx-button-danger:hover {
    color: @default-color-10;
    border-color: @danger-color-3;
    background-color: @danger-color-3;
}

.yx-button-danger:active {
    color: @default-color-10;
    border-color: @danger-color-1;
    background-color: @danger-color-1;
}

.yx-button-danger[disabled] {
    color: @default-color-10;
    border-color: @danger-color-5;
	background-color: @danger-color-5;
}

.yx-button-danger[plain] {
    color: @danger-color-2;
    border-color: @danger-color-6;
	background-color: @danger-color-8;
}

.yx-button-danger[plain]:focus,
.yx-button-danger[plain]:hover {
    color: @default-color-10;
    border-color: @danger-color-2;
    background-color: @danger-color-2;
}

.yx-button-danger[plain]:active {
    color: @default-color-10;
    border-color: @danger-color-1;
    background-color: @danger-color-1;
}

.yx-button-danger[plain][disabled] {
    color: @danger-color-4;
    border-color: @danger-color-7;
	background-color: @danger-color-8;
}


.yx-button-icon {
    display: inline-block;
    font-family: iconfont;
}

.yx-button-icon[loading] {
    animation: rotating 2s linear infinite;
}

.yx-button-icon[loading]:before {
    content: "\e635"; 
}

