.yx-checkbox {
    display: inline-block;
    height: .3rem;
    line-height: .3rem;
}

.yx-checkbox>* {
    display: inline-block;
    vertical-align: middle;
}

.yx-checkbox>svg {
    width: 1.2em;
    height: 1.2em;
    outline: none;
}


.yx-button[theme="primary"]>svg {
    fill: @primary-color-3;
}

.yx-button[theme="second"]>svg {
    fill: @second-color-3;
}

.yx-button[theme="success"]>svg {
    fill: @success-color-3;
}

.yx-button[theme="warning"]>svg {
    fill: @warning-color-3;
}

.yx-button[theme="danger"]>svg {
    fill: @danger-color-3;
}

.yx-button[disabled]>svg {
    fill: @disabled-color-3;
}