.yx-radiobutton {
    display: inline-block;
    height: .3rem;
    line-height: .3rem;
}

.yx-radiobutton>* {
    display: inline-block;
    vertical-align: middle;
}

.yx-radiobutton>.yx-icon {
    width: 0.18rem;
    height: 0.18rem;
    margin: 0 .04rem;
    border: 1px solid @default-color-3;
    border-radius: .08rem;
    background-color: @default-color-5;
    outline: none;
}

.yx-radiobutton-checked>.yx-icon {
    border: .06rem solid @primary-color-1;
}
