* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* font-size: 62.5% */
}
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
body,
input {
  background-color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.16rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #3a8ee6;
}
a:active {
  outline: 0;
}
a:active {
  color: #3a8ee6;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #cf9236;
  color: #000000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: middle;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0 2px;
  border: 1px solid #ffffff;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
blockquote,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
dd,
dl,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none outside none;
}
h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #f4f4f5;
}
@font-face {
  font-family: "iconfont";
  src: url('../../icon/iconfont.eot?t=1526043228558');
  /* IE9*/
  src: url('../../icon/iconfont.eot?t=1526043228558#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../icon/iconfont.ttf?t=1526043228558') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../../icon/iconfont.svg?t=1526043228558#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-error:before {
  content: "\e72a";
}
.icon-refresh:before {
  content: "\e613";
}
.icon-ok:before {
  content: "\e6aa";
}
.icon-cancel:before {
  content: "\e63e";
}
.icon-search:before {
  content: "\e62a";
}
.icon-loading:before {
  content: "\e635";
}
.icon-add:before {
  content: "\e658";
}
.icon-question:before {
  content: "\e664";
}
.icon-save:before {
  content: "\e611";
}
.icon-upload:before {
  content: "\e614";
}
.icon-download:before {
  content: "\e615";
}
.icon-camera:before {
  content: "\e61a";
}
.icon-edit:before {
  content: "\e61f";
}
.icon-more:before {
  content: "\e620";
}
.icon-delete:before {
  content: "\e621";
}
.icon-setup:before {
  content: "\e612";
}
.icon-password:before {
  content: "\e61c";
}
.icon-warn:before {
  content: "\e61d";
}
.icon-info:before {
  content: "\e61e";
}
.icon-collapse:before {
  content: "\e625";
}
.icon-expand:before {
  content: "\e626";
}
.icon-folder:before {
  content: "\e7e2";
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.yx-icon {
  display: -webkit-flex;
  display: flex;
  width: 0.24rem;
  height: 0.24rem;
  overflow: hidden;
  font-size: 0.24rem;
  align-items: center;
  justify-content: center;
}
.yx-icon > svg {
  width: 1em;
  height: 1em;
  vertical-align: 0.2em;
}
.yx-selected {
  color: #3a8ee6;
}
.yx-selected svg {
  fill: #3a8ee6;
}
.yx-subject-1 {
  font-size: 0.24rem;
}
.yx-subject-2 {
  font-size: 0.2rem;
}
.yx-subject-3 {
  font-size: 0.18rem;
}
.yx-subject-4 {
  font-size: 0.16rem;
}
.yx-subject-5 {
  font-size: 0.16rem;
}
.yx-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.yx-floatlayer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.yx-layout-block > * {
  display: block;
}
.yx-layout-row {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.yx-layout-column {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.yx-layout-menu {
  display: -webkit-flex;
  display: flex;
}
.yx-layout-menu > * {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: center;
  text-align: center;
}
.yx-button {
  margin: 0;
  border: 1px solid #c0c4cc;
  outline: none;
  white-space: nowrap;
  text-align: center;
  transition: 0.1s;
  color: #000000;
  background-color: #c0c4cc;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.yx-button:focus,
.yx-button:hover {
  color: #3a8ee6;
  border-color: #8cc5ff;
  background-color: #d9ecff;
}
.yx-button:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
}
.yx-button[disabled] {
  color: #c0c4cc;
  border-color: #ebeef5;
  background-color: #ffffff;
  cursor: not-allowed;
}
.yx-button[theme="primary"] {
  color: #ffffff;
  border-color: #8cc5ff;
  background-color: #66b1ff;
}
.yx-button[theme="primary"]:focus,
.yx-button[theme="primary"]:hover,
.yx-button[theme="primary"]:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
  background-color: #3a8ee6;
}
.yx-button[theme="success"] {
  color: #ffffff;
  background-color: #85ce61;
}
.yx-button[theme="success"]:focus,
.yx-button[theme="success"]:hover,
.yx-button[theme="success"]:active {
  color: #5daf34;
  border-color: #5daf34;
  background-color: #5daf34;
}
.yx-button[theme="info"] {
  color: #ffffff;
  background-color: #a6a9ad;
}
.yx-button[theme="info"]:focus,
.yx-button[theme="info"]:hover,
.yx-button[theme="info"]:active {
  color: #82848a;
  border-color: #82848a;
  background-color: #82848a;
}
.yx-button[theme="warning"] {
  color: #ffffff;
  background-color: #ebb563;
}
.yx-button[theme="warning"]:focus,
.yx-button[theme="warning"]:hover,
.yx-button[theme="warning"]:active {
  color: #cf9236;
  border-color: #cf9236;
  background-color: #cf9236;
}
.yx-button[theme="danger"] {
  color: #ffffff;
  background-color: #f78989;
}
.yx-button[theme="danger"]:focus,
.yx-button[theme="danger"]:hover,
.yx-button[theme="danger"]:active {
  color: #dd6161;
  border-color: #dd6161;
  background-color: #dd6161;
}
.yx-checkbox {
  display: inline-block;
  height: 0.3rem;
  line-height: 0.3rem;
}
.yx-checkbox > * {
  display: inline-block;
  vertical-align: middle;
}
.yx-checkbox > .yx-icon {
  width: 0.18rem;
  height: 0.18rem;
  margin: 0 0.04rem;
  border: 1px solid #c0c4cc;
  border-radius: 0.04rem;
  background-color: #ffffff;
  outline: none;
}
.yx-checkbox-checked > .yx-icon {
  border: 0.06rem solid #3a8ee6;
}
.yx-radiobutton {
  display: inline-block;
  height: 0.3rem;
  line-height: 0.3rem;
}
.yx-radiobutton > * {
  display: inline-block;
  vertical-align: middle;
}
.yx-radiobutton > .yx-icon {
  width: 0.18rem;
  height: 0.18rem;
  margin: 0 0.04rem;
  border: 1px solid #c0c4cc;
  border-radius: 0.08rem;
  background-color: #ffffff;
  outline: none;
}
.yx-radiobutton-checked > .yx-icon {
  border: 0.06rem solid #3a8ee6;
}
.yx-switchbutton {
  display: inline-block;
  width: 0.6rem;
  height: 0.3rem;
  border: 1px solid #c0c4cc;
  padding: 0.03rem;
  border-radius: 0.13rem;
  background-color: #ffffff;
}
.yx-switchbutton > span {
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: 0.25%;
  background-color: #c0c4cc;
}
.yx-switchbutton-checked {
  border-color: #3a8ee6;
  text-align: right;
}
.yx-switchbutton-checked > span {
  background-color: #8cc5ff;
}
.yx-textbox {
  width: 2rem;
  height: 0.3rem;
  line-height: 0.3rem;
  border: 1px solid #c0c4cc;
  background-color: #ffffff;
}
.yx-textbox > input {
  border: 0;
  width: 100%;
  background-color: #ffffff;
  outline: none;
}
