* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* font-size: 62.5% */
}
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
body,
input {
  background-color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 0.16rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #3a8ee6;
}
a:active {
  outline: 0;
}
a:active {
  color: #3a8ee6;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #cf9236;
  color: #000000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: middle;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0 2px;
  border: 1px solid #ffffff;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
blockquote,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
dd,
dl,
li,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none outside none;
}
h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c0c4cc;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
.yx-icon {
  display: -webkit-inline-flex;
  display: inline-flex;
  overflow: hidden;
  font-size: 0.2rem;
  align-items: center;
  justify-content: center;
}
.yx-icon > svg {
  width: 1em;
  height: 1em;
}
[layout="block"] > .yx-control {
  display: block;
}
[layout="row"] {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
[layout="column"] {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
[layout="menu"] {
  display: -webkit-flex;
  display: flex;
}
[layout="menu"] > * {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-items: center;
  text-align: center;
}
.yx-control[theme="primary"] {
  border-color: #8cc5ff;
  color: #3a8ee6;
}
.yx-control[theme="second"] {
  border-color: #8cc5ff;
  color: #3a8ee6;
}
.yx-control[theme="success"] {
  border-color: #a4da89;
  color: #5daf34;
}
.yx-control[theme="warning"] {
  border-color: #f0c78a;
  color: #cf9236;
}
.yx-control[theme="danger"] {
  border-color: #f9a7a7;
  color: #dd6161;
}
.yx-control[disabled] {
  border-color: #bcbec2;
  background-color: #f4f4f5;
  color: #82848a;
  cursor: not-allowed;
}
.yx-control[theme="primary"] svg {
  fill: #3a8ee6;
}
.yx-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.yx-floatlayer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.yx-textbox {
  display: inline-block;
  width: 2rem;
  height: 0.3rem;
  line-height: 0.3rem;
  border: 1px solid #c0c4cc;
  background-color: #ffffff;
}
.yx-textbox > input {
  border: 0;
  width: 100%;
  background-color: #ffffff;
  outline: none;
}
.yx-button {
  margin: 0;
  border: 1px solid #c0c4cc;
  outline: none;
  white-space: nowrap;
  text-align: center;
  transition: 0.1s;
  color: #000000;
  background-color: #c0c4cc;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.yx-button[theme="primary"] {
  border-color: #8cc5ff;
  background-color: #3a8ee6;
  color: #ffffff;
}
.yx-button[theme="second"] {
  border-color: #8cc5ff;
  background-color: #3a8ee6;
  color: #ffffff;
}
.yx-button[theme="success"] {
  border-color: #a4da89;
  background-color: #5daf34;
  color: #ffffff;
}
.yx-button[theme="warning"] {
  border-color: #f0c78a;
  background-color: #cf9236;
  color: #ffffff;
}
.yx-button[theme="danger"] {
  border-color: #f9a7a7;
  background-color: #dd6161;
  color: #ffffff;
}
.yx-button[disabled] {
  border-color: #bcbec2;
  background-color: #f4f4f5;
  color: #82848a;
}
.yx-button:focus,
.yx-button:hover,
.yx-button:active {
  color: #3a8ee6;
  border-color: #8cc5ff;
  background-color: #d9ecff;
}
.yx-button[theme="primary"]:focus,
.yx-button[theme="primary"]:hover,
.yx-button[theme="primary"]:active {
  color: #ffffff;
  border-color: #3a8ee6;
  background-color: #3a8ee6;
}
.yx-button[theme="second"]:focus,
.yx-button[theme="second"]:hover,
.yx-button[theme="second"]:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
  background-color: #3a8ee6;
}
.yx-button[theme="success"]:focus,
.yx-button[theme="success"]:hover,
.yx-button[theme="success"]:active {
  color: #5daf34;
  border-color: #5daf34;
  background-color: #5daf34;
}
.yx-button[theme="warning"]:focus,
.yx-button[theme="warning"]:hover,
.yx-button[theme="warning"]:active {
  color: #cf9236;
  border-color: #cf9236;
  background-color: #cf9236;
}
.yx-button[theme="danger"]:focus,
.yx-button[theme="danger"]:hover,
.yx-button[theme="danger"]:active {
  color: #dd6161;
  border-color: #dd6161;
  background-color: #dd6161;
}
.yx-button[disabled],
.yx-button[theme][disabled] {
  color: #c0c4cc;
  border-color: #ebeef5;
  background-color: #ffffff;
  cursor: not-allowed;
}
.yx-checkbox {
  display: inline-block;
  height: 0.3rem;
  line-height: 0.3rem;
}
.yx-checkbox > * {
  display: inline-block;
  vertical-align: middle;
}
.yx-checkbox > svg {
  margin: 0 0.04rem;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  overflow: hidden;
}
.yx-button[theme="primary"] > svg {
  fill: #8cc5ff;
}
.yx-button[theme="second"] > svg {
  fill: #8cc5ff;
}
.yx-button[theme="success"] > svg {
  fill: #a4da89;
}
.yx-button[theme="warning"] > svg {
  fill: #f0c78a;
}
.yx-button[theme="danger"] > svg {
  fill: #f9a7a7;
}
.yx-button[disabled] > svg {
  fill: #bcbec2;
}
.yx-memo {
  display: inline-block;
  width: 2rem;
  height: 0.5rem;
  border: 1px solid #c0c4cc;
  background-color: #ffffff;
}
.yx-memo > textarea {
  border: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  outline: none;
  resize: none;
}
.yx-radiobutton {
  display: inline-block;
  height: 0.3rem;
  line-height: 0.3rem;
}
.yx-radiobutton > * {
  display: inline-block;
  vertical-align: middle;
}
.yx-radiobutton > svg {
  margin: 0 0.04rem;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  overflow: hidden;
}
.yx-switchbutton {
  display: inline-block;
  width: 0.6rem;
  height: 0.3rem;
  border: 1px solid #c0c4cc;
  padding: 0.03rem;
  border-radius: 0.13rem;
  background-color: #ffffff;
}
.yx-switchbutton > span {
  display: inline-block;
  width: 50%;
  height: 100%;
  border-radius: 0.25%;
  background-color: #c0c4cc;
}
.yx-switchbutton-checked {
  border-color: #3a8ee6;
  text-align: right;
}
.yx-switchbutton-checked > span {
  background-color: #8cc5ff;
}
.yx-text {
  display: inline-block;
}
